{% extends "base.html" %}

{% block content %}
    <div class="w3-text-indigo">
    <h1>Welcome to the AI App</h1>
    <h1>Login</h1>
    </div>
    <form action="/login" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
        <br>
        <button class="w3-indigo">
        <input type="submit" value="Login">
        </button>
    </form>
<a href="/register">Register</a>
{% endblock %}